<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Zoo Admin后台</title>
    <meta name="description" content="Zoo Admin，方便的查看zookeeper的节点和节点数据，快捷的添加、删除和级联删除节点，快捷的编辑节点数据，目前只支持文本数据">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="${host}/assets/i/favicon.png">
    <meta name="apple-mobile-web-app-title" content="Zoo Admin"/>
    <link rel="stylesheet" href="${host}/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="${host}/assets/css/admin.css">
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="${host}/assets/js/amazeui.ie8polyfill.min.js"></script>
    <![endif]-->

    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="${host}/assets/js/jquery.min.js"></script>
    <!--<![endif]-->
    <script src="${host}/assets/js/amazeui.min.js"></script>
    <script src="${host}/assets/js/app.js"></script>
    <script src="${host}/layer/layer.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <strong>Zoo Admin</strong> <small>后台管理</small>
    </div>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="${host}/logout.html"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">

    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="${host}/node/index.html"><span class="am-icon-home"></span> 首页</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="${host}/node/index.html" class="am-cf"><span class="am-icon-check"></span>统计信息<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                        <li><a href="${host}/help/index.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
                        <li><a href="${host}/help/log.html"><span class="am-icon-calendar"></span> ZK日志</a></li>
                    </ul>
                </li>
             </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-tag"></span>服务器配置</p>
                    <!--# for(c in config){  -->
                    ${c}<br/>
                    <!--# } -->
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">统计信息</strong>
            </div>
        </div>

        <ul
                class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
            <li><a href="#" class="am-text-success"><span
                    class="am-icon-btn am-icon-file-text"></span><br/>JVM总内存<br/>${totalMem}</a></li>
            <li><a href="#" class="am-text-warning"><span
                    class="am-icon-btn am-icon-briefcase"></span><br/>最大内存<br/>${maxMem}</a></li>
            <li><a href="#" class="am-text-danger"><span
                    class="am-icon-btn am-icon-recycle"></span><br/>剩余内存<br/>${freeMem}</a></li>
            <li><a href="#" class="am-text-secondary"><span
                    class="am-icon-btn am-icon-user-md"></span><br/>已运行<br/>${uptime}</a></li>
        </ul>


        <div class="am-g">

            <div data-am-widget="titlebar" class="am-titlebar am-titlebar-default" >
                <h2 class="am-titlebar-title ">
                    路径导航[${session["addr"]!}]
                </h2>
                <nav class="am-fl" style="padding-left: 30px;">
                    <!--# for(pl in pathList){  -->
                    <a href="${host}/node/index.html?path=${pl}" class="">${path(pl)} &raquo;</a>
                    <!--# }  -->
                </nav>
            </div>

            <!-- 左边栏开始 -->
            <div class="am-u-md-6">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf"
                         data-am-collapse="{target: '#collapse-panel-2'}">
                        子节点统计<span class="am-icon-chevron-down am-fr"></span>
                    </div>
                    <div id="collapse-panel-2" class="am-in">
                        <table
                                class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
                            <tbody>
                            <tr>
                                <th class="am-text-center">#</th>
                                <th>路径</th>
                                <th>操作</th>
                            </tr>
                            <!--# for(child in nodes){  -->
                            <tr id="tr_k${childLP.index}">
                                <td class="am-text-center">${childLP.index}</td>
                                <td><a href="${host}/node/index.html?path=${child}">${path(child)}</a></td>
                                <td>
                                    <button name="dBtn" kpath="${child}" kid="${childLP.index}" class="am-btn am-btn-secondary am-btn-xs">删除</button>
                                    <button name="rdBtn" kpath="${child}" kid="${childLP.index}" class="am-btn am-btn-secondary am-btn-xs">级联删除</button>
                                </td>
                            </tr>
                            <!--# }  -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 左边栏开始 -->

            <!-- 右边栏开始 -->
            <div class="am-u-md-6">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf"
                         data-am-collapse="{target: '#nodeDataPanel'}">
                        节点数据<span class="am-icon-chevron-down am-fr"></span>
                    </div>
                    <div id="nodeDataPanel" class="am-panel-bd am-collapse am-in">
                        ${data}
                    </div>
                </div>

                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf"
                         data-am-collapse="{target: '#collapse-panel-5'}">
                        节点状态<span class="am-icon-chevron-down am-fr"></span>
                    </div>
                    <div id="collapse-panel-5" class="am-panel-bd am-collapse am-in">
                        <ul>
                            <!--# for(entry in stat){
                                     var key = entry.key;
                                     var value = entry.value;  -->
                            <li>${key}=${value}</li>
                            <!--# }  -->
                        </ul>
                    </div>
                </div>

            </div>
            <!-- 右边栏结束 -->
        </div>
        <!-- 底部按钮区 -->
        <div class="am-g">
            <div class="am-u-md-12">
                <button type="button" class="am-btn am-btn-primary" id="addNodeBtn">新增</button>
                <button type="button" class="am-btn am-btn-success" id="modifyNodeBtn">编辑</button>
            </div>
        </div>
        <!-- 底部按钮区 -->
    </div>
    <!-- content end -->
    </div>
</div>

<!-- 添加节点的隐藏窗口 -->
<div class="" tabindex="-1" id="addNode">
    <form class="am-form">
        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-4 am-text-right">
                节点名
            </div>
            <div class="am-u-sm-8 am-u-md-7 am-u-end">
                <input type="text" id="nodeName" name="nodeName" class="am-input-sm">
            </div>
        </div>

        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-4 am-text-right">
                节点类型
            </div>
            <div class="am-u-sm-8 am-u-md-7 am-u-end">
                <select id="nodeType" name="nodeType" class="am-select-sm" data-am-selected="{btnSize: 'sm'}">
                    <option value="0">持久</option>
                    <option value="1">临时</option>
                    <option value="2">永久序列</option>
                    <option value="3">临时序列</option>
                </select>
            </div>
        </div>

        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-4 am-text-right">
                数据
            </div>
            <div class="am-u-sm-8 am-u-md-7 am-u-end">
                <textarea id="nodeData" name="nodeData" rows="4"></textarea>
            </div>
        </div>
        <div class="am-cf" style="margin-top: 8px;">
            <input type="hidden" id="parentPath" name="parentPath" value="${path!}" />
            <button id="addNodeFormBtn" type="button" style="margin-left: 80px;" class="am-btn am-btn-primary am-fl">提交保存</button>
            <button id="addNodeFormCancel"type="button" style="margin-right: 80px;" class="am-btn am-btn-primary am-fr">放弃保存</button>
        </div>
    </form>
</div>
<!-- 添加节点的隐藏窗口 -->

<!-- 修改节点的隐藏窗口 -->
<div class="" tabindex="-1" id="modifyNode">
    <form class="am-form">
        <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                数据
            </div>
            <div class="am-u-sm-8 am-u-md-9 am-u-end">
                <textarea id="modifyNodeData" name="modifyNodeData" rows="4">${data!}</textarea>
            </div>
        </div>
        <div class="am-cf" style="margin-top: 8px;">
            <input type="hidden" id="modifyParentPath" name="modifyParentPath" value="${path!}" />
            <button id="modifyNodeFormBtn" type="button" style="margin-left: 50px;" class="am-btn am-btn-primary am-fl">提交修改</button>
            <button id="modifyNodeFormCancel" type="button" style="margin-right: 50px;" class="am-btn am-btn-primary am-fr">放弃修改</button>
        </div>
    </form>
</div>
<!-- 修改节点的隐藏窗口 -->

<script>
    $(function () {
        $('#addNodeBtn').on('click', function () {
            layer.open({
                type: 1,
                area: ['400px', '310px'],
                title:"新增节点",
                shade: 0,
                closeBtn:1,
                content: $('#addNode')
            });
        });

        var sleep = function (second,callback) {
            if(typeof callback == 'function'){
                setTimeout(callback,second*1000);
            }
        }


        $("#addNodeFormBtn").click(function(e){
            var nodeName=$("#nodeName").val();
            var nodeType=$("#nodeType").val();
            var nodeData=$("#nodeData").val();
            var parentPath=$("#parentPath").val();
            $.ajax({
                url:"${host}/node/create.html",
                type:'POST', //GET
                async:true,    //或false,是否异步
                data:{nodeName : nodeName,nodeType:nodeType,nodeData:nodeData,parentPath:parentPath},
                timeout:5000,    //超时时间
                dataType:'json',
                success:function(result,textStatus,jqXHR){
                    if(result.success==true){
                        layer.alert(result.message, {icon: 6});
                        location.reload();
                    }else{
                        layer.alert(result.message, {icon: 5});
                    }
                },
                error:function(xhr,textStatus){
                    layer.alert(result.message, {icon: 5});
                },
            });
        });

        $("#addNodeFormCancel").click(function(e){
            layer.closeAll();
        });


        $('#modifyNodeBtn').on('click', function () {
             mod=layer.open({
                type: 1,
                area: ['300px', '230px'],
                title:"修改节点",
                shade: 0,
                closeBtn:1,
                content: $('#modifyNode')
            });
        });

        $("#modifyNodeFormBtn").click(function(e){
         var nodeData=$("#modifyNodeData").val();
            var parentPath=$("#modifyParentPath").val();
            $.ajax({
                url:"${host}/node/modify.html",
                type:'POST', //GET
                async:true,    //或false,是否异步
                data:{nodeData:nodeData,parentPath:parentPath},
                timeout:5000,    //超时时间
                dataType:'json',
                success:function(result,textStatus,jqXHR){
                    if(result.success==true){
                        $("#nodeDataPanel").text(nodeData);
                        layer.alert(result.message, {icon: 6});
                        sleep(2, function () {
                            layer.closeAll();
                        });
                    }else{
                        layer.alert(result.message, {icon: 5});
                    }
                },
                error:function(xhr,textStatus){
                    layer.alert(result.message, {icon: 5});
                },
            });
        });

        $("#modifyNodeFormCancel").click(function(e){
            layer.closeAll();
        });

        $(":button[name='dBtn']").click(function (e) {
            var delpath=$(this).attr("kpath");
            var kid=$(this).attr("kid");
            layer.confirm('确认删除吗？', {
                btn: ['确认','取消'] //按钮
            }, function(){
                $.ajax({
                    url:"${host}/node/delete.html",
                    type:'POST', //GET
                    async:true,    //或false,是否异步
                    data:{path : delpath},
                    timeout:3000,    //超时时间
                    dataType:'json',
                    success:function(result,textStatus,jqXHR){
                        layer.alert(result.message, {icon: 6});
                        $("#tr_k"+kid).remove();
                    },
                    error:function(xhr,textStatus){
                        layer.alert(result.message, {icon: 5});
                    },
                });
            }, function(){
                layer.msg('的确要谨慎~', {icon: 1});
            });
        });

        $(":button[name='rdBtn']").click(function (e) {
            var delpath=$(this).attr("kpath");
            var kid=$(this).attr("kid");
            layer.confirm('确认级联删除吗？', {
                btn: ['确认','取消'] //按钮
            }, function(){
                $.ajax({
                    url:"${host}/node/rdelete.html",
                    type:'POST', //GET
                    async:true,    //或false,是否异步
                    data:{path : delpath},
                    timeout:3000,    //超时时间
                    dataType:'json',
                    success:function(result,textStatus,jqXHR){
                        layer.alert(result.message, {icon: 6});
                        $("#tr_k"+kid).remove();
                    },
                    error:function(xhr,textStatus){
                        layer.alert(result.message, {icon: 5});
                    },
                });
            }, function(){
                layer.msg('的确要谨慎~', {icon: 1});
            });
        });

    });
</script>
</body>
</html>
